.app {
    min-width: 400px;
    width: 50%;
    margin: 0 auto;

    padding: 9px;
    background-color: rgb(224, 239, 253);
}

#in, #out {
    display: block;
    text-align: right;
    width: 100%;
}

#in {
    font-size: 24px;
    box-sizing: border-box;
}

#out {
    font-size: 40px;
}

.btn {
    --btn-margin: 2px;
    --btn-w: calc(33% - 3 * var(--btn-margin));

    box-sizing: border-box;
    margin: var(--btn-margin) calc(var(--btn-margin) - 1px);

    font-size: 20px;
    
    display: inline-block;
    width: var(--btn-w);
    padding: calc(0.2 * var(--btn-w)) 0;
}

.op {
    background-color: rgb(131, 189, 255);
}

.op:hover {
    background-color: rgb(171, 210, 255);
}

.bot {
    margin-bottom: calc(2px + 8px);
}

#clear-red {
    background-color: crimson;
}
