/* nav styling */
html, body {
    padding: 0;
    margin: 0;
    border: 0;
}
ul, li {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;  
}
nav {
    text-align: center;
}
nav a {
    text-decoration: none;
    color: black;
}
nav ul {
    list-style: none;
    display: table;
}
nav > ul {
    background-color: rgb(81, 253, 153);
}
nav > ul {
    width: 100%;
}
nav > ul ul {
    display: none;
}
    nav ul li:hover > ul {
        display: table;
        background-color:rgb(81, 253, 153);
        position: absolute;
        top: 100%;
        width: 100%;
    }
nav ul li {
    display: table-cell;
}
nav ul li:hover {
    background-color:rgb(0, 255, 106);
}
nav a {
    display: block;
    font-size: 14px;
    padding: 2em 0;
}



/* rest of page */
h1 {
    text-align: center;
}
.app {
    width: 400px;
    margin: 0 auto;

    padding: 9px;
    background-color: rgb(224, 239, 253);
}

#in {
    margin: 0px;
    text-align: right;
    width: 90%;
    font-size: 24px;
    box-sizing: border-box;
    border: 0px;
}
#out {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 40px;
}
#enter {
    box-sizing: border-box;
    margin: 0px;
    width: 9%;
    padding: 2px 0px;
}

button {
    --btn-margin: 2px;
    --btn-w: calc(33% - 3 * var(--btn-margin));

    box-sizing: border-box;
    margin: var(--btn-margin) calc(0.5 * var(--btn-margin));

    font-size: 20px;
    
    display: inline-block;
    width: var(--btn-w);
    padding: calc(0.2 * var(--btn-w)) 0;
}

    /* for simulating button clicks */
    button.hovered:not(.op):not(#clear-red) {
        filter: brightness(85%);
    }

button.op {
    background-color: rgb(131, 189, 255);
}

    /* for simulating button clicks */
    button.op.hovered {
        background-color: rgb(171, 210, 255);
    }

    button.op:hover {
        background-color: rgb(171, 210, 255);
    }

    button.op:active {
        background-color: rgb(100, 150, 255);
    }

button.bot {
    margin-bottom: calc(2px + 8px);
}

#clear-red {
    background-color: rgb(255, 0, 0);
}

    /* for simulating button clicks */
    #clear-red.hovered {
        background-color: rgb(195, 0, 0);
    }

    #clear-red:hover {
        background-color: rgb(195, 0, 0);
    }

    #clear-red:active {
        background-color: rgb(255, 142, 142);
    }